




<form action="https://authorize.payments-sandbox.amazon.com/cobranded-ui/actions/start" method="get">
   <input type="hidden" name="collectEmailAddress" value="true" >
   <input type="hidden" name="signatureMethod" value="HmacSHA256" >
   <input type="hidden" name="recipientPaysFee" value="true" >
   <input type="hidden" name="maxVariableFee" value="30.00" >
   <input type="hidden" name="signatureVersion" value="2" >
   <input type="hidden" name="callerAccountId" value="PNICUTCHFJCJ4HBJBLM9XAADSF8KUUFP9AKVE9" >
   <input type="hidden" name="pipelineName" value="Recipient" >
   <input type="hidden" name="callerKey" value="11SEM03K88SD016FS1G2" >
   <input type="hidden" name="signature" value="YcOwOIs+5gn8v9echB+DLchhYnQEkVhOsYmdD5coA64=" >
   <input type="hidden" name="callerReference" value="f4553373-fa80-4380-bdb9-bcffb52f56f3" >
   <input type="hidden" name="returnURL" value="http://localhost:3000/giveadvices" >
   <input type="image" src="http://g-ecx.images-amazon.com/images/G/01/asp/MarketPlaceFeeWithLogo.gif" border="0">
  </form>



<% if @adviceposts.count >= 1 %>

<%= render 'adviceposts/advicepostsbyuser' %>


<% else %>

<h3>Are you an Expert in something? Give Advice!<h3><br />
<h4>-Make money by sharing your expertise and advice privately with others</h4><br />
<h4>-Privately message advisee's on a per message basis</h4> 	<br />
<h4>-Share your knowledge to let others make better decisions</h4><br />
</p>

<%= link_to 'Submit an Advice Listing', new_advicepost_path, class: "btn btn-success" %><br /><br />
<% end %>


<% if @messages.blank? %>
<% else %>
<% end %>


<% if @messagesp.blank? %>
     <h3>Advice Messages</h3><br />	
	 <h4>No advice messages yet.</h4><br />	 
		
<% else %>
     <%= render 'messages/padviseemessages' %>
<% end %>














