


<p>
<h2>Are you an Expert in something? Give Advice!<h2>
<h4>-Make money by sharing your expertise and advice privately with others</h4><br />
<h4>-Privately message advisee's on a per message basis</h4> 	<br />
<h4>-Share your knowledge to let others make better decisions</h4><br />
</p>


<% if current_advisor.status != "SR" %>

	PathAdvisor uses Amazon Payments to pay Advisors. After accepting the marketplace <br />
	fee you will be able to submit an advice listing.  Click the button below.<br />
	<%= render :partial => 'adviceposts/amazonacceptfeebtn' %>

<% else %>



<% if @adviceposts.count >= 1 %>
	<%= render 'adviceposts/advicepostsbyuser' %>
<% else %>


	<%= link_to 'Submit an Advice Listing', new_advicepost_path, class: "btn btn-success" %><br /><br />
	<% end %>

	<% if @messages.blank? %>
	<% else %>
	<% end %>

	<% if @messagesp.blank? %>
	     <h3>Advice Messages</h3><br />	
		 <h4>No advice messages yet.</h4><br />	 
	<% else %>
	     <%= render 'messages/padviseemessages' %>
	<% end %>




<% end %>









