


<p>
	<h2>Advisor Dashboard</h2>
	<h4>-Share your knowledge and experience with others to help them make better decisions<h4><br />
	<h4>-Mentor those who want to better themselves </h4><br />
	<h4>-Help the world be a smarter, more engaged society</h4><br />
</p>




<% if @adviceposts.count >= 1 %>
	<%= render 'adviceposts/advicepostsbyuser' %>
<% else %>
	<%= link_to 'Submit an Advice Listing', new_advicepost_path, class: "btn btn-success" %><br /><br />
	<% end %>

	<% if @messages.blank? %>
	<% else %>
	<% end %>

	<% if @messagesp.blank? %>
	     <h3>Advice Messages</h3><br />	
		 <h4>No advice messages yet.</h4><br />	 
	<% else %>
	     <%= render 'messages/padviseemessages' %>
<% end %>











