




<dl>
<h1>Payment Details</h1>	<br /><br />
	<span class="help-block">You must have a Paypal small business account to receive payment. We send payments to advisors via email at the beginning of each month. <span>
     


		

</br></br></br>

<%= link_to 'Back', giveadvices_path, class: "btn" %>



