

<h2>Message</h2>




<p>
  <b>Advisee Message:</b><br />
  <%= @message.messageq %>
</p>

<p>
  <b>Response Message:</b><br />
  <%= @message.messager %>
</p>




<br /><br /><br /><br />

<%= link_to 'Back', giveadvices_path, class: "btn" %>
<%= link_to 'Continue', giveadvices_path, class: "btn btn-success" %>

