

<%= @user.name %>, 

You have a new message from an Advisee on PathAdvisor!  Please respond at your earliest convenience!  


<%= messager_url(message) %>


<%= messager_path(message) %>


<p>Best,<br />
The PathAdvisor Team</p>

