


<p>Hi <%= @user.first_name %>, </p>

<p>Sorry!  An advice message has been canceled since it was over the 72 hour limit for a response.  We have voided the charge to your credit card.  Please try some other advisors!</p>

<p><%= link_to 'Access your account here', getadvices_url %></p><br />


<p>Team PathAdvisor</p>

