

<p>Hi <%= @advisor.first_name %>, </p>

<p>An advice message has been cancelled since it wasn't responded to within the 7 day limit.</p>

<p><%= link_to 'Access your Advisor account here', giveadvices_url %></p><br />


<p>Team PathAdvisor</p>