

<p>Hi <%= @advisor.first_name %>, </p>

<p>An advice message has been cancelled since it was over the 72 hour limit for a response.</p>

<p><%= link_to 'Access your Advisor account here', giveadvices_url %></p><br />


<p>Team PathAdvisor</p>