

<p>Hi <%= @advisor.first_name %>, </p>

<p>Uh oh, an advice message has been canceled since it wasn't responded to within the 5 day time limit.</p>

<p><%= link_to 'Access your Advisor account here', giveadvices_url %></p><br />


<p>Best,<br />
   The PathAdvisor Team</p>