

<p>Hi <%= @advisor.first_name %>, </p>

<p>Uh oh, an advice message has been canceled since it wasn't responded to within the seven day time window.</p>

<p><%= link_to 'Access your Advisor account here', giveadvices_url %></p><br />


<p>Team PathAdvisor</p>