

<p>Hi <%= @advisoremail %>, </p>

<p>You have a new message from an advisee!  You have seven days to respond.  Once you have responded you will be credited with a payment for the response.  </p>


<p>Respond to their message here </p>



