

<p>Hi <%= @user.first_name %>, </p>

<p>Your message has been sent to your Advisor!  You should get a response soon!   </p>


<p><%= link_to 'Access your Advisee account here', getadvices_url %></p><br />



<p>PathAdvisor</p>