

<p>Hi <%= @advisor.first_name %>, </p>

<p>You have a new message from an advisee!  You have 5 days to respond so the advisee will get a response in a timely manner.    </p>


<p><%= link_to 'Respond to their message here', messager_url(@message.id) %></p><br />




<p>Cheers,<br />
   The PathAdvisor Team</p>



