



<p>A new Advice Listing has been submitted!!  Please check its validity and enable if it looks ok.</p>


<p>
Advice Listing ID - <%= @advicepost.id %> <br />
Advisor Email - <%= @advisor.email %> <br />

Advice Listing URL new Local - http://localhost:3000/adviceposts/<%=@advicepost.id %>/apnew <br />
Advice Listing URL new Prod - http://serene-bayou-1827.herokuapp.com/<%=@advicepost.id %>/apnew <br />
</p>

<p>Best,<br />
   The PathAdvisor Team</p>