


<p>Hi <%= @advisor.firstname %>, </p>

<p>You have submitted a new advice listing.  You should hear back about if it was accepted soon! </p>


<p>Click here to view your advice listing.</p>



<p>Sincerely, <br />Team PathAdvisor</p>

