


<p>Hi <%= @advisor.first_name %>, </p>

<p>You have submitted a new Advice Listing!  You should hear back from us soon after we review your listing! </p>


<p><%= link_to 'Access your Advisor account here', giveadvices_url %></p><br />



<p>Best,<br />
   The PathAdvisor Team</p>