


<p>Hi <%= @advisor.first_name %>, </p>

<p>You have created a new Advice Listing!  Be ready to hear from new Advisee's soon! </p>


<p>Click here to view your advice listing.</p>



<p>Sincerely, <br />Team PathAdvisor</p>

