

<p>Hi <%= @advisor.first_name %>, </p>

<p>This is a friendly reminder that you haven't responded to a new advisee message yet.  You only have 2 days left to respond to a new advise message before it is canceled.  <br />
Once you have responded you will be credited with a payment for the response.  If the message isn't responded to within 5 days it is canceled and you won't get paid for it.</p>

<p><%= link_to 'Respond to their message here', messager_url(@message.id) %></p><br />




<p>Cheers,<br />
   The PathAdvisor Team</p>