

<p>Hi <%= @advisor.first_name %>, </p>

<p>This is just a friendly reminder you have only one day left to respond to your advisee.   If the message isn't responded to within 5 days it is cancelled.</p>


<p><%= link_to 'Respond to their message here', messager_url(@message.id) %></p><br />



<p>Team PathAdvisor</p>

