


<p>Hi <%= @user.firstname %>, </p>

<p>Your Advisor has responded to a message.  </p>

<p><%= link_to 'View their response here', showadvisee_url(@message.id) %></p><br />



<p>Sincerely, <br />Team PathAdvisor</p>
