


<p>Hi <%= @advisor.first_name %>, </p>

<p>You have responded to an advisee's message.  Your message is on its way to your advisee!  Thanks for helping spread human knowledge and best practices!</p>

<p><%= link_to 'Access your Advisor account here', giveadvices_url %></p><br />


<p>Team PathAdvisor</p>
