


<p>Hi <%= @user.first_name %>, </p>

<p>Your Advisor has responded to your message!   </p>

<p><%= link_to 'View their response here', showadvisee_url(@message.id) %></p><br />



<p>Best,<br />
The PathAdvisor Team</p>