



<p><%= @user.firstname %>, </p>

<p>Thanks for signing up on PathAdvisor.</p>

<p>PathAdvisor helps you to:
-Gain advice, expertise and inspiration from somebody who has been where you want to go
-Learn from experts in your field of interest
-Privately message advisors one-on-one
-Rate feedback you receive from Advisors</p>

<p><%= link_to 'Login to your account here', getadvices_url %></p>
 



