





<p><%= @advisor.firstname %>, </p>

<p>Thanks for signing up to be an Advisor on PathAdvisor. </p>

<p>As an Advisor you will be able to:<br />
-Make money by sharing your expertise and advice privately with others<br />
-Privately message advisee's on a per message basis<br />
-Share your knowledge to help others make better decisions<br />
-Boost your resume by helping others</p><br /><br />


<p><%= link_to 'Access your Advisor account here', giveadvices_url %></p><br />
 


<p>Sincerely, <br />Team PathAdvisor</p>
