



<p>Hi <%= @user.first_name %>, </p>

<p>Thanks for signing up on PathAdvisor.</p>

<p>PathAdvisor helps you to:<br />
-Gain advice, expertise and inspiration from somebody who has been where you want to go<br />
-Learn what to focus on and make better decisions<br />
-Privately message advisors one-to-one<br />
-Rate advice you receive from Advisors<br /><br /></p>

<p><%= link_to 'Login to your account here', getadvices_url %></p>
 



<p>Best,<br />
   The PathAdvisor Team</p>

