



<p>Hi <%= @user.first_name %>, </p>

<p>Thanks for signing up on PathAdvisor.</p>

<p>PathAdvisor helps you to:<br />
-Gain advice, expertise and inspiration from somebody who has been where you want to go<br />
-Learn from experts in your field of interest<br />
-Privately message advisors one-on-one<br />
-Rate feedback you receive from Advisors<br /><br /></p>

<p><%= link_to 'Login to your account here', getadvices_url %></p>
 



<p>Team PathAdvisor</p>



