


<div id="container-fluid">
	<div id="user_nav" class="hero-unit">
				
	<h1><strong>About</strong></h1><br /><br />
		<div class="row-fluid">
			<div class="span12">
			<h1></h1>
			<p>
			PathAdvisor is a private advice and mentoring network.  PathAdvisor is designed from the ground up to be a place where professionals whether college students or working professionals can connect with experienced people in their field of interest.  Whether you are majoring in a field in college and want to see what you should be focusing on to be ready once you graduate or if you have a few years under your belt and need some advice from an expert who has experience in a position you would like to get to, PathAdvisor is there to make these connections.  In the past, is was nearly impossible to find a great advisor or mentor who has actually been where you want to go.  PathAdvisor aims to solve that problem.  
		
			</p>
			</div>
		</div>
	</div>			
</div>


