

<div id="container-fluid">
	<div id="user_nav" class="hero-unit">
				
	<h1><strong>How It Works</strong></h1><br /><br />

	
	<div class="row-fluid">

		<div class="span6">
		<h1></h1>
		<p>
			<strong>Advisee's</strong><br />
			<h4>1. An Advisee signs up and fills out payment information.<h4><br />
			<h4>2. The Advisee is then able to search for experts in their field of interest!</h4> 	<br />
			<h4>3. Once an Advisee finds an Advisor they like they can send them an advice message!</h4><br />
			<h4>4. The Advisee receives the response within 5 days!</h4><br />
			<h4>5. The Advisee can then rate the message on whether the Advice was good or not.</h4><br />
		</p>
		<%= link_to "Sign up as Advisee", new_user_registration_path, class: "btn btn-large btn-success" %><br /><br />
		<%= link_to "Advisee Login", new_user_session_path %>
		  
		</div>

		<div class="span6">
		<p>

		<strong>Advisors</strong><br />
		<h4>1. An advisor signs up and posts an Advice Listing.</h4><br />
		<h4>2. PathAdvisor reviews the Advice Listing and verifies its valid and of high quality.</h4><br />
		<h4>3. The Advisor then starts getting awesome messages from their Advisee's!</h4><br />
		<h4>4. The Advisor responds within 5 days.</h4><br />
		</p>
		<%= link_to "Post an Advice Listing", new_advisor_registration_path, class: "btn btn-large btn-success" %><br /><br />
		<%= link_to "Advisor Login", new_advisor_session_path %>
		</div>
	
	</div>

	</div>			
</div>


