

<div id="container">
	<div id="user_nav" class="hero-unit">
				
	<strong>PathAdvisor is a private one-on-one advice network
	where you can learn more about <br>
	a field you are interested in, from experts in that field.</strong>
	<br /><br />

	
	<strong><%= link_to image_tag("facebook_sign_in.png"), "/auth/facebook" %></strong><br /><br />


	</div>			
</div>
	
	
