

<div id="container-fluid">
	<div id="user_nav" class="hero-unit">
				
	<p><strong>PathAdvisor is a one-on-one advice network. It connects people interested in a field to experts in that field. </strong></p><br /><br />
	
	<div class="row-fluid">
		<div class="span6">
		<h1></h1>
		<p>
		<strong>Want Advice from Experts? Be an Advisee!</strong><br />
		<h4>-Gain advice, expertise and inspiration from somebody who has been where you want to go</h4><br />
		<h4>-Learn what to focus on and make better decisions</h4><br />
		<h4>-Privately message advisors one-to-one</h4><br />

		</p>
		<%= link_to "Sign up as Advisee", new_user_registration_path, class: "btn btn-large btn-success" %><br /><br />
		<%= link_to "Advisee Login", new_user_session_path %>
		</div>

		<div class="span6">
		<p>
		<strong>Are you an Expert in a field? Be an Advisor!</strong><br />
		<h4>-Share your knowledge and experience with others to help them make better decisions<h4><br />
		<h4>-Mentor those who want to better themselves </h4><br />
		<h4>-Help the world be a smarter, more engaged society</h4><br />
		</p>
		<%= link_to "Post an Advice Listing", new_advisor_registration_path, class: "btn btn-large btn-success" %><br /><br />
		<%= link_to "Advisor Login", new_advisor_session_path %>
		</div>
	
	</div>
	</div>			
</div>
	
	


