

<div id="container">
	<div id="user_nav" class="hero-unit">
				
	<strong>PathAdvisor is a private one-on-one advice network
	where you can learn more about <br>
	a field you are interested in from experts in that field.</strong>
	<br /><br />



	
	<div class="row">

		<div class="span5">
		<h1></h1>
		<p>
		<strong>Get Advice from Experts</strong><br />
		<h4>-Gain advice, expertise and inspiration from somebody who has been where you want to go</h4><br />
		<h4>-Learn from experts in your field of interest</h4><br />
		<h4>-Privately message advisors one-on-one</h4><br />
		</p>
		<%= link_to "Sign up", new_user_registration_path, class: "btn btn-large btn-success" %>  
		</div>

		<div class="span5">
		<p>
		<strong>Are you an Expert? Give Advice</strong><br />
		<h4>-Make money by sharing your expertise and advice privately with others<h4><br />
		<h4>-Privately message advisee's on a per message basis</h4> 	<br />
		<h4>-Share your knowledge to let others make better decisions</h4><br />
		</p>
		<%= link_to "Create Advisor Account", new_advisor_registration_path, class: "btn btn-large btn-success" %>
		</div>
	
	</div>




	

	</div>			
</div>
	
	
