


<form action="https://authorize.payments-sandbox.amazon.com/cobranded-ui/actions/start" method="get">
   <input type="hidden" name="collectEmailAddress" value="true" >
   <input type="hidden" name="signatureMethod" value="HmacSHA256" >
   <input type="hidden" name="recipientPaysFee" value="true" >
   <input type="hidden" name="maxVariableFee" value="30.00" >
   <input type="hidden" name="signatureVersion" value="2" >
   <input type="hidden" name="callerAccountId" value="NYJIEQQGYMQA59GUAI3DNZI1V2ENV3VLJL59QX" >
   <input type="hidden" name="pipelineName" value="Recipient" >
   <input type="hidden" name="callerKey" value="11SEM03K88SD016FS1G2" >
   <input type="hidden" name="signature" value="U3Lh/KwrIwSA8X/TM4C1pW25niB7X8I6xF7tkggaJHA=" >
   <input type="hidden" name="callerReference" value="e1183515-6260-48b2-bfb5-ea2518f62ff9" >
   <input type="hidden" name="returnURL" value="http://serene-bayou-1827.herokuapp.com/giveadvices" >
   <input type="image" src="http://g-ecx.images-amazon.com/images/G/01/asp/MarketPlaceFeeWithLogo.gif" border="0">
  </form>


