




<form action="https://authorize.payments-sandbox.amazon.com/cobranded-ui/actions/start" method="get">
   <input type="hidden" name="collectEmailAddress" value="true" >
   <input type="hidden" name="signatureMethod" value="HmacSHA256" >
   <input type="hidden" name="recipientPaysFee" value="true" >
   <input type="hidden" name="maxVariableFee" value="30.00" >
   <input type="hidden" name="signatureVersion" value="2" >
   <input type="hidden" name="callerAccountId" value="NYJIEQQGYMQA59GUAI3DNZI1V2ENV3VLJL59QX" >
   <input type="hidden" name="pipelineName" value="Recipient" >
   <input type="hidden" name="callerKey" value="11SEM03K88SD016FS1G2" >
   <input type="hidden" name="signature" value="RFakFmNLJV/nr3jwgOIvemI476itoaBGTLz1b7XRRcY=" >
   <input type="hidden" name="callerReference" value="773f8778-cb7e-4839-a393-12d86ffc62d2" >
   <input type="hidden" name="returnURL" value="http://serene-bayou-1827.herokuapp.com/adviceposts/new" >
   <input type="image" src="http://g-ecx.images-amazon.com/images/G/01/asp/MarketPlaceFeeWithLogo.gif" border="0">
  </form>

