

<footer class="footer">
  <small>
     © 2012 PathAdvisor
  </small>
  <nav>
    <ul class="nav">
	      <li><a href="http://news.railstutorial.org/">Blog</a></li>
      <li><%= link_to "Contact", '#' %></li>

    </ul>
  </nav>
</footer>