

<footer class="footer">
  <small>
     © 2012 PathAdvisor
  </small>
  <nav>
    <ul class="nav">

          <li><a href="http://pathadvisor.tumblr.com/">Blog</a></li>
	      <li><a href="https://twitter.com/#!/thepathadvisor">Twitter</a></li>
          


    </ul>
  </nav>
</footer>